/* Empty. Add your own CSS if you like */

.login {
	  background: url(../img/7.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}

.signup {
	  background: url(../img/7.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}
  .search {
        background-color:#E5E8E8 		;
		 font-family: "wmMensch";
		 font-size: 40px;
    }
	
 .hospital {
        background-color:#E5E8E8 		;
		 font-family: "wmMensch";
		 font-size: 40px;
    }


.scroll {
  height: 100%;
}
.angular-google-map-container { height: 500px; }

.box {
   background: url(../img/7.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
		
		
}@import url(http://fonts.googleapis.com/css?family=Raleway);
.wrapper{
min-height: 960px;
}
form#empForm, form#editForm {
padding: 0 35px 15px;
}
label.gender {
padding-top: 0 !important;
}
table tr th{
    background: #f8f8f8;
}
.search-box {
    padding-bottom: 0;
}
@media screen and (max-width: 368px){
.wrapper{
    min-width: 340px;
}   
}
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
/* 
 * Add button style
 * Adapted from: http://codepen.io/mhartington/pen/cnqfL
*/
.fixed-outside{
    position: absolute;
    right: 10px;
    bottom: 0px;
    color: white;
    height: 120px;
    text-align: right;
}

.button-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #888888;
}

/* Popup message */
.popup {
	position: absolute;
	top: 0px;
    bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(140, 140, 140, 0.9);
    z-index: 2;
}

.popup-message {
    position: absolute;
	top: 100px;
    bottom: 100px;
	left: 10px;
	right: 10px;
	background-color: #ffc900;
	text-align: center;
	font-size: 18px;
	overflow: auto;
	border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
}

/* Error message style */
.error-message {
    color: darkgray;
    text-align: center;
}

/* Calendar add button */
.calender-plus {
    position: absolute;
    right: 10px;
    top: 5px;
}