<!-- This view is responsible for displaying the scheduled tasks for today -->
<ion-view view-title="Calendar">
  <ion-content>
    <!-- List of time slots -->
    <div class="list">
      <div class="item" ng-repeat="slot in data.times">
        <!-- Time and add button -->
        <h2>{{slot.time}}</h2>
        <a class="button button-energized button-small ion-plus calender-plus" ng-click="selectTimeSlot($index)" href="#/app/calendar/search"></a>
        <hr/>
        
        <!-- List of tasks in time slot -->
        <ion-list>
          <ion-item class="item-icon-right" ng-repeat="task in slot.tasks">
            <div class="item-checkbox">
              <label class="checkbox checkbox-balanced">
                <input type="checkbox" ng-model="task.completed">
              </label>
              
              <span>{{task.title}}</span>
            </div>
            
            <!-- Remove button -->
            <ion-option-button class="button-assertive ion-minus" ng-click="removeTaskFromSlot($parent.$parent.$index, $index)">
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>