<!-- This view is responsible for gathering information about the new list -->
<ion-view view-title="New List">
  <ion-content>
    <div class="list list-inset">
      <!-- Input for list title -->
      <label class="item item-input">
        <input type="text" placeholder="List Title" ng-model="data.title">
      </label>
    
      <!-- Input for goals -->
      <label class="item item-input">
        <input type="text" placeholder="Goal" ng-model="data.goal">
      </label>
      
      <!-- Create list button -->
      <a class="item button button-full button-energized" href="#/app/home" ng-click="addNewList()">
        Create List
      </a>
    </div>
  </ion-content>
</ion-view>
